{% extends 'base.html' %}
{% load static%}

{%block title%} Admin_Dashboard {%endblock title%}

{%block body%}

<div class='main'>
   <a class="btn btn-primary btn-lg" style="margin-left:0%; margin-top: 1px;" href="add-product">Add-Product</a>
   <br>
   <br>
  {% for prod in cards%}
    <a  class="list-group-item " style="font-size:18px;" href="{{prod.slug}}">{{prod.title}} </a>
    <a class="btn btn-sm btn-danger"  href="{% url 'delete-prod' prod.id %}">Delete</a>
                   
  {%endfor%}
</div>

{%endblock body%}
